/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  color: black;
}

#containerGranos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 20px 20px 20px;
  padding: 5px;
}

#tituloGranos {
  color: #078610;
  margin: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 20px;
}

/* Estilos de los elementos del grid */
.maiz,
.forrajesCol1,
.otrosCol2 {
  background-color: #d8e8dd;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.maiz {
  grid-column: span 2; /* Ocupa ambas columnas en pantallas grandes */
}

#contMaiz,
#contForrajes,
#contOtrasSemillas {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contMaiz {
  justify-content: space-between;
}

.textLeft,
.textRight {
  width: 25%;
  text-align: justify;
}

.imagesGranos {
  border-radius: 10px;
  width: 50%;
  max-width: 400px;
  margin: 0 20px;
}

.textGrid {
  width: 25%;
  text-align: justify;
  margin: 10px 0;
}

.tiposForraje {
  width: 25%;
  text-align: left;
}

/* Flexbox para los contenedores */
#contForrajes {
  display: flex;
  align-items: center;
}

#contOtrasSemillas {
  display: flex;
  align-items: center;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 1500px) {
  .container {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .maiz {
    grid-column: span 1;
  }

  .imagesGranos {
    width: 80%;
  }

  .textLeft,
  .textRight,
  .tiposForraje,
  .textGrid {
    width: 100%;
    text-align: center;
  }
  #contMaiz {
    flex-direction: column;
  }
  #contForrajes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #contOtrasSemillas {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0;
  }

  .maiz,
  .forrajesCol1,
  .otrosCol2 {
    padding: 15px;
  }

  .imagesGranos {
    width: 100%;
  }

  .textLeft,
  .textRight,
  .tiposForraje,
  .textGrid {
    width: 100%;
    text-align: center;
  }
}
