#containerGranos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 20px 20px 20px;
  padding: 5px;
}

#tituloGranos {
  color: #078610;
  margin: 0;
  text-align: center;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color: black;
}

.maiz {
  text-align: center;
  grid-column: span 2;
  background-color: #d8e8dd;
  padding: 10px;
  border-radius: 10px;
}

.forrajesCol1,
.otrosCol2 {
  background-color: #d8e8dd;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.forrajesCol1 {
  grid-column: 1; /* Ocupa la primera columna */
}

.otrosCol2 {
  grid-column: 2; /* Ocupa la segunda columna */
}

#contMaiz {
  display: flex;
  justify-content: space-around;
}

.tipos {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0px;
  width: 390px;
}

.tipos .p {
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 0px 10px;
}

.imagesGranos {
  border-radius: 10px;
}

.textGrid {
  width: 200px;
  text-align: justify;
  margin: 0px;
}

/* Estilos del grid de forrajes */
#contForrajes {
  display: flex;
}

.imagesGranos {
  border-radius: 10px;
}

.textGrid {
  width: 200px;
  text-align: justify;
  margin: 0px;
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  #contMaiz {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #contForrajes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
