#containerProductos {
  margin: 150px 20px 20px 20px;
  padding: 5px;
  -webkit-animation: focus-in-contract-bck 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.titulo {
  color: #078610;
}
strong {
  font-size: 1.3rem;
  color: #078610;
}
.pProductos {
  text-align: justify;
  font-size: 1.2rem;
}
#containerGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f5fffa;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0px;
  color: #000000;
  -webkit-animation: focus-in-contract-bck 1s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.contRow {
  display: flex;
  background-color: #d8e8dd;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 10rem;
  padding: 10px;
  box-shadow: 3px 3px 8px #000000;
}
.contRowReverse {
  display: flex;
  flex-direction: row-reverse;
  background-color: #d8e8dd;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 10rem;
  padding: 10px;
  box-shadow: 3px 3px 8px #000000;
}
.imgProductos {
  border-radius: 10px;
}
@media (max-width: 865px) {
  .contRow {
    display: flex;
    flex-direction: column;
  }
  .contRowReverse {
    display: flex;
    flex-direction: column;
  }
}
