/*NOSOTROS*/
#tituloNosotros {
  text-align: center;
  margin-top: 150px;
  font-size: 3rem;
  color: #078610;
}
h2 {
  color: black;
  text-align: center;
  font-size: 1.4rem;
  padding: 0px 15px;
}
p {
  margin: 5px;
  padding: 0px 15px;
  margin-top: 20px;
  color: black;
  text-align: center;
}
.containerButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0px;
}
#saberMas {
  width: 120px;
  height: 40px;
  border: #078610;
  margin-top: 40px;
  background-color: #078610;
  border-radius: 50px;
  transition: 0.5s;
  animation: breathing 2s ease-in-out infinite;
}
#saberMas:hover {
  transform: scale(1.2);
  animation: none;
}
@keyframes breathing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
#iconBajar {
  color: black;
  margin-top: 30px;
  animation: bajar 2s ease-in-out infinite;
}
@keyframes bajar {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  51% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*PRODUCTOS*/
/* Home.css */

#containerHomeProductos {
  text-align: center;
  padding: 20px;
}

#tituloProductos {
  margin-top: 70px;
  font-size: 3rem;
  color: #078610;
}

h2 {
  color: black;
  font-size: 1.4rem;
  margin: 10px 0;
}

p {
  color: black;
  margin: 10px 0 20px;
}

#containerCards {
  display: flex;
  justify-content: center;
}

.swiper-container {
  width: 94%; /* Ajusta el ancho al contenido */
  overflow: hidden;
}

.swiper-slide {
  width: 300px; /* Ancho fijo para las tarjetas */
}

.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  min-height: 340px;
  border-radius: 20px;
  background: #d8e8dd;
  box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6;
  transition: 0.4s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.card-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #078610;
  margin: 10px 0;
}

.card-body {
  margin: 10px 0;
  color: rgb(31, 31, 31);
  font-size: 15px;
  text-align: justify;
}

.containerButton {
  display: flex;
  justify-content: center;
}

.buttonVerMas {
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background-color: #078610;
  border-radius: 50px;
  transition: 0.5s;
  border: none;
  color: white;
}

.buttonVerMas:hover {
  transform: scale(1.2);
}
