#containerProductos {
  margin-top: 150px;
}
.titulo {
  color: #078610;
}
strong {
  font-size: 1.3rem;
  color: #078610;
}
p {
  text-align: justify;
  font-size: 1.2rem;
}
#containerGrid {
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 10px;
  background-color: #d8e8dd;
  border-radius: 5px;
  margin-right: 10px;
  padding: 20px;
  padding-top: 0px;
  color: #000000;
}
#contTomates {
  background-color: #d8e8dd;
  margin: 0px;
  border-radius: 5px;
  font-size: 10rem;
  padding: 5px;
  box-shadow: 3px 3px 8px #000000;
}
